
.header {
  padding: 0 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 10px 20px $dark-shade-5;
  &__logo {

  }
  &__content {

  }
  &__menu {
    margin: 0;
  }
  &__username {

  }
  &__buttons {

  }
}

.header-content {
  font-family: Open-Sans, sans-serif;
  font-size: 14px;
}

.header-menu {
  list-style-type: none;
  padding: 0 25px;
  display: inline-block;
  line-height: 70px;
  &__item {
    display: inline-block;
    margin-right: 23px;
    &:last-child {
      margin-right: 0;
    }
    &-dropdown {
      position: relative;
      &:hover {
        .header-menu__dropdown {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  &__link {
    text-decoration: none;
    color: $dark-shade-50;
    &:hover {
      color: $dark-shade-75;
    }
  }
  &__arrow {
    display: inline;
    vertical-align: middle;
    font-size: 22px;
    line-height: 21px;
    color: $dark-shade-50;
  }
  &__dropdown {
    margin: 0;
    position: absolute;
    top: 100%;
    left: -25px;
  }
}

.header-menu-link {
  &_active {
    color: $dark-shade-75;
    font-weight: bold;
  }
}

.header-menu-dropdown {
  list-style-type: none;
  padding: 10px 25px;
  box-shadow: 0 10px 20px $dark-shade-5;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all linear 0.3s;
  z-index: 100;
  line-height: 1.715em;
  &__item {

  }
  &__link {
    text-decoration: none;
    color: $dark-shade-50;
    white-space: nowrap;
    display: block;
    padding: 3px 0;
    &:hover {
      color: $dark-shade-75;
    }
  }
}

.header-buttons {
  display: inline-block;
  &__button {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.header-user {
  border-left: 1px solid $dark-shade-10;
  display: inline-block;
  padding: 3px 0 3px 23px;
  &__link {

  }
}
