
@import "../../../css/main";

@import 'blocks';

.registration {
  &__header {

  }
  &__main-block {

  }
  &__footer {

  }
}

.main-block {
  background: url('../img/enter.png') center 99% / cover;
  padding: 30px 30px 25px;
  box-sizing: border-box;
  &__card {
    margin: 0 auto;
  }
}






