
extends ../page-template

block title
    |UI-kit

block styles
    script(src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js")

    link(href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css")
    //- jquery ui для range-slider
    script(src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js")
    ////- jquery ui для чего-то другого (?)
    //script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js")

    link(href="../../css/datepicker.css" rel="stylesheet" type="text/css")
    script(src="../../js/datepicker.js")

    link(href="../../css/owl.carousel.min.css" rel="stylesheet" type="text/css")
    script(src="../../js/owl.carousel.min.js")

    link(rel="stylesheet" href="css/style.css" type="text/css")

block content
    //- parcel src/pages/UI-kit/UI-kit.pug

    include ../../components/colors-and-types/colors-and-types
    include ../../components/form-elements/form-elements
    include ../../components/cards/cards
    include ../../components/headers-footers/headers-footers

    + colorsAndTypes()
    + formElements()
    + cards()
    + headers-footers()

block append scripts
    script(src="js/script.js")
    script(src='../../components/booking-card/booking-card.js')
    script(src='../../components/calendar/calendar.js')
    script(src='../../components/checkbox/checkbox.js')
    script(src='../../components/date-dropdown/date-dropdown.js')
    script(src='../../components/dropdown/dropdown.js')
    script(src='../../components/exp-checkbox-list/exp-checkbox-list.js')
    script(src='../../components/filter-date-dropdown/filter-date-dropdown.js')
    script(src='../../components/like-button/like-button.js')
    script(src='../../components/masked-text-field/masked-text-field.js')
    script(src='../../components/radio/radio.js')
    script(src='../../components/range-slider/range-slider.js')
    script(src='../../components/rate-button/rate-button.js')
    script(src='../../components/room-card/room-card.js')