
.rich-checkbox-list {
  &__header {
    @include h3();
    margin-bottom: 17px;
  }
  &__items {
    margin: 0;
  }
}

.rich-list {
  list-style-type: none;
  padding: 0;
  &__item {
    margin-bottom: 11px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}