
.diagram {
  overflow: hidden;
  min-width: 320px;
  &__content {
    position: relative;
  }

  &-content {

  }

  &__svg-wrapper {
    position: relative;
    margin-left: -16px;
    margin-top: 6px;
    display: inline-block;
  }
  &__labels {
    position: absolute;
    bottom: 20px;
    left: 145px;
  }

  &-svg {
    &__circle {

    }
    &__caption {
      position: absolute;
      top: calc(50% - 26px);
      left: calc(50% - 31px);
    }

    &-caption {
      text-align: center;
      color: $purple;
      font-size: 14px;
      font-weight: bold;
      &__number {
        font-size: 21px;
      }
    }
  }
  &-labels {
    padding-left: 20px;
    &__item {
      position: relative;
    }

    &-item {
      margin: 0;
      &:before {
        content: '';
        position: absolute;
        top: 7px;
        left: -16px;
        display: block;
        width: 10px;
        height: 10px;
      }
      &_great {
        &:before {
          background-color: #FFBB9C;
        }
      }
      &_good {
        &:before {
          background-color: #6FCF98;
        }
      }
      &_satisf {
        &:before {
          background-color: $purple;
        }
      }
      &_disapp {
        &:before {
          background-color: #3D4975;
        }
      }
    }
  }
}
