
mixin socials(args)
    .socials
        ul.socials__list.socials-list(class!=attributes.class)
            li.socials-list__item
                a(href='#').socials-list__link
                i.socials-list__icon(class="fa fa-twitter" aria-hidden="true")
            li.socials-list__item
                a(href='#').socials-list__link
                i.socials-list__icon(class="fa fa-facebook-square" aria-hidden="true")
            li.socials-list__item
                a(href='#').socials-list__link
                i.socials-list__icon(class="fa fa-instagram" aria-hidden="true")