
.point {
  padding: 20px 20px 20px 0;
  border-bottom: 1px solid $dark-shade-10;
  box-sizing: border-box;
  &:last-child {
    border-bottom: none;
  }
  &__content {
    position: relative;
    padding-left: 58px;
  }
  &__icon {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 48px;
    background: $purple-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__header {
    font-weight: bold;
    margin: 0;
  }
  &__text {
    margin: 0;
  }
}
