
mixin logo(args)
    .logo(class!=attributes.class)
        a.logo__href(href='http://hotel-booking.cw37069.tmweb.ru/')
            img.logo__img(src='../../components/logo/img/logo.svg' alt='На главную')
            img.logo__img(src='../../components/logo/img/toxin.svg' alt='На главную')