
block constants
    -
        //- тип номера
        const LUXE = 'Люкс';

        //- виды кнопок
        const TYPE_BACKGROUND = 'background';
        const TYPE_BORDER = 'border';
        const TYPE_PURPLE_TEXT = 'purple-text';
        const TYPE_GREY_TEXT = 'grey-text';

        //- виды dropdown-ов
        const TYPE_GUESTS = 'guests';
        const TYPE_PREFERENCES = 'preferences';

        //- виды масок в masked-text-field
        const TYPE_DATE = 'date';
        const TYPE_PHONE = 'phone';